################################################
# Eluna configuration file                     #
################################################
[eluna]

###################################################################################################
#  ELUNA SETTINGS
#
#   Eluna.Enabled
#       Description: Enable or disable Eluna LuaEngine
#       Default:     true  - (enabled)
#                    false - (disabled)
#
#   Eluna.CompatibilityMode
#       Description: Toggles Eluna between compatibility mode (single-threaded) or multistate mode. 
#                    Compatibility mode limits the core to a single map update thread.
#       Default:     true  - (enabled)
#                    false - (disabled)
#
#   Eluna.OnlyOnMaps
#       Description: When Eluna is enabled, a state will only be created for a list of specified maps
#                    This only works for multistate mode.
#       Default:     ""  - (enabled on all maps)
#                    "0,1,2,..." - (enabled on specific maps only)
#
#   Eluna.TraceBack
#       Description: Sets whether to use debug.traceback function on a lua error or not.
#                    Notice that you can redefine the function.
#       Default:     false - (use default error output)
#                    true  - (use debug.traceback function)
#
#   Eluna.ScriptPath
#       Description: Sets the location of the script folder to load scripts from
#                    The path can be relative or absolute.
#       Default:     "lua_scripts"
#
#   Eluna.RequirePaths
#       Description: Sets the location of additional require paths.
#                    These paths are absolute and follows the standard Lua require path patterns.
#                    Below are a set of "standard" paths used by most package managers.
#                    "/usr/share/%s/?.lua;/usr/local/share/lua/%s/?.lua;/usr/local/share/lua/%s/?/init.lua;/usr/share/lua/%s/?.lua;/usr/share/lua/%s/?/init.lua;"
#       Default:     ""
#
#   Eluna.RequireCPaths
#       Description: Sets the location of additional require C paths.
#                    These paths are absolute and follows the standard Lua require path patterns.
#                    Below are a set of "standard" paths used by most package managers.
#                    "/usr/local/lib/lua/%s/?.so;/usr/lib/x86_64-linux-gnu/lua/%s/?.so;/usr/local/lib/lua/%s/loadall.so;"
#       Default:     ""
#

Eluna.Enabled = true
Eluna.CompatibilityMode = true
Eluna.OnlyOnMaps = ""
Eluna.TraceBack = false
Eluna.ScriptPath = "lua_scripts"
Eluna.RequirePaths = ""
Eluna.RequireCPaths = ""

#
###################################################################################################